@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
		z-index: 10;
	}

	::-webkit-scrollbar-track {
		background: transparent;
		/* background: #dddadc; */
	}

	::-webkit-scrollbar-thumb:hover {
		background: #dddadc;
	}
}
